.App {
  text-align: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white 
}

#navbar {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 10px 6px -6px #777;
  height: 5rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.btn{
  font-size: 15px;
  font-weight: 700;
  margin-top:15px;
  margin-right:15px;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(158, 49, 39);
  color: azure;
}

.Chart{
  align-self: center;
  width: 50%;
  float: left;
  margin: 40px;
  margin-left: 25%;
  height: auto;
  display: block;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
} 